  #main-nav{
    width: 100%;
    height: 50px;
    background-color: #fff;
    position:fixed;
    transition: all ease-in-out .3s;
    .close-btn-res-menu{
        display: none;
    }
    .menu-logo{
      display: none; 
    }
    .main-menu{
      display: flex;
      margin-bottom: 0 !important;
      > li{
          display: flex;
        >a{
          width: 100%;
          color: #333 !important;
          font-family: 'shabnam' !important;
          font-size: 13px;
          font-weight: 600;
        }
      }
    }
  }
  
  @media screen and(min-width:992px){
    #main-nav{
      -webkit-box-shadow: 0 10px 6px -6px rgba(150,150,150,.5);
      box-shadow: 0 10px 6px -6px rgba(150,150,150,.5);
      top: 65px;
      right: 0;
      z-index: 999;
       //@extend// -moz-box-shadow: 0 10px 6px -6px #777;
           //  box-shadow: 0 10px 6px -6px #777;
      .main-menu{
        justify-content: flex-start;
        align-items: center;
        height: 50px;
        position: relative;
        width: 100%;
        
         >li{
           justify-content: center;
           align-items: center;
           height: 100%;
           position: relative;
           &::after{
            position: absolute;
            content: '';
            width: 0%;
            height: 3px;
            bottom: 0;
            left: 49%;
            background-color: $pred;
            transition: all ease-in-out .4s;
          }
          &::before{
           position: absolute;
           content: '';
           width: 0%;
           height: 3px;
           bottom: 0;
           right:  49%;
           background-color: $pred;
           transition: all ease-in-out .4s;
         }
         &:hover{
           >ul{
             display: flex;
           }
           >a{
             font-weight: bold;
           }
           &::after{
             width: 50%;
             height: 3px;
            
           }
           &::before{
             width: 50%;
             height: 3px;
           }
         }
         >a{
          width: 100%;
          height: 30px;
          margin: auto 0;
          display: flex;
          padding: 0 10px;
          justify-content: center;
          align-items: center;

         }
          >ul{
            display: none;
            flex-direction: column;
            z-index: 100;
            position: absolute;
            width: 220px;
            height: auto;
            min-height: 600px;
            background-color: #f4f4f4;
            border-top: $border;
            border-right: $border;
            border-bottom: $border;
            height: auto;
            top: 0;
            margin-top: 50px;
            right: 0;
            .menu-item-has-children{
              >a{
                &::after{
                  font-family: 'Material Icons';
                  content: "\F0141";
                  position: absolute;
                  left: 10px;
                  font-size: 20px;
                  
                }
              }
            }
            >li{
              padding:0 10px;
              width: 100%;
              height: 40px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              border-bottom: $border;
              transition: all ease-in-out .3s;

              &:hover{
                background-color: $pred;
                color: #fff !important;
                >ul{
                  display: flex;
                }
                >a{
                  color: #fff !important;
                  padding-right: 12px;
                  .mega-menu-icon{
                    color: #fff;
                   
                  }
                }
              }
              >a{
                height: 100%;
                width: 100%;
                color: #555 !important;
                display: block;
                display: flex;
              justify-content: flex-start;
              align-items: center;
              font-size: 13px;
              font-family: 'shabnam';
              font-weight: bold;
              transition: all ease-in-out .2s;
                .mega-menu-icon{
                  width: 25px;
                  color: $pred;
                  font-size: 20px;
                  margin-left: 15px;
                  
                }
              }
              >ul{
                display: none;
                position: absolute;
                width: auto;
                width: 1000px;
                height: 100%;
                background-color: #f4f4f4;
                left: -1000px;
                bottom: 0;
                direction: ltr;
                padding:10px;
                border: $border;
                border-top: 0;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                align-content: flex-start;
                .menu-item-has-children{
                  >a{
                    &::after{
                      position: absolute; 
                      content: '\F0140';
                      left: -25px;
                      top: -5px;
                      font-size: 22px;
                      color: #666;
                      font-family: 'Material Icons';
                      
                    }
                  }
                }
                >li{
                  width: 195px;
                  display: block;
                  height: auto;
                  >a{
                    width: auto;
                    font-family: "IRsans";
                    font-weight: bold;
                    color: #333;
                    font-size: 13px;
                    position: relative;
                    transition: all ease-in-out .3s;
                    margin-bottom: 5px;
                    &:hover{
                      color:$pred;
                    }
                    &:hover::after{
                      color: $pred;
                    }
                  
                  }
                  >ul{
                    width: 100%;
                    >li{
                      margin-bottom: 5px;
                      >a{
                        color: #555;
                        font-family: 'shabnam';
                        font-size: 13px;
                        transition: all ease-in-out .3s;
                        &:hover{
                          color:$pred;
                        }
                      }
                    }
                  }
                }
               
              }
            }
          }
           
         
          
         }
         > .sub-menu-parent{
           >a{
             padding-right: 30px;
            border-left:  $border;
             &::after{
               position: absolute;
               content: '\F035C';
               right: 0;
               font-size: 22px;
               font-family: 'Material Icons';
             }
           }
         }
 }
      }
      .hide-main-nav{
        transform: translateY(-200%);
      }
    }
    
  





  @media screen and (max-width:991px){
    .show-main-nav{
      right: 0 !important;
    }
    #main-nav{
      position: fixed;
      overflow-y: scroll;
      height: 100vh;
      top: 0;
      right: -100%;
      width: 75vw;
      z-index: 1002;
      flex-direction: column;
      .close-btn-res-menu{
        display: flex;
        width: 30px; 
        height: 30px;
        margin-top: 20px;
        i{
          font-size: 22px;
          color: $lightc;
        }
      }
      .menu-logo{
        display: flex;
        padding: 10px ;
        justify-content: center;
        align-items: center;
        img{
         width: 150px;
        }
      }
      .main-menu{
       display: flex;
       align-items: center;
       justify-content: flex-start;
       flex-direction: column;
       >li{
         width: 100%;
         min-height: 40px;
         height: auto;
         border-bottom: $border;
         flex-direction: column;
         >a{
           display: flex;
           justify-content: flex-start;
           align-items: center;
           height: 40px
         }
         >ul{
           position: relative;
           display: none ;
           padding-right: 8px;
           > .menu-item-has-children{
            >a{
              &::after{
                font-family: 'Material Icons';
                content: "\F0140";
                position: absolute;
                left: 10px;
                font-size: 20px;
                
              }
            }
          }
           >li{
             min-height: 30px;
             >a{
               display: block;
               height: 30px;
               color: #333 ;
                font-family: 'shabnam' ;
                font-size: 13px;
             }
             .mega-menu-icon{
               display: none;
             }
             >ul{
              display: none ;
               position: relative;
              padding-right: 8px;
               >li{
                 min-height: 30px;
                 >a{
                  height: 30px;
                  color: #333 ;
                   font-family: 'shabnam' !important;
                   font-size: 13px;
                   display: block;
                 }
                 >ul{
                  display: none;
                   >li{
                     >a{
                      height: 30px;
                      color: #333 ;
                       font-family: 'shabnam' !important;
                       font-size: 13px;
                       display: block;
                     }
                   }
                 }
               }
             }
           }
         }
       }
      > .menu-item-has-children{
        >a{
          &::after{
            font-family: 'Material Icons';
            content: "\F0140";
            position: absolute;
            left: 10px;
            font-size: 20px;
            
          }
        }
      }
      }
    }
  }