
  .mdi-books{
    >a{
      &::before{
        font-family: 'Material Icons';
        content: '\F0B63' !important;
        margin-top : 8px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 20px;
        color: $pred;
      }
      &:hover::before{
        color: #fff !important;
      }
    }
  }
  .mdi-child{
    >a{
      &::before{
        font-family: 'Material Icons';
        content: '\F068F' !important;
        margin-top : 8px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 20px;
        color: $pred;
      }
      &:hover::before{
        color: #fff !important;
      }
    }
  }
.mdi-pet{
    >a{
      &::before{
        font-family: 'Material Icons';
        content: '\F011B' !important;
        margin-top : 8px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 20px;
        color: $pred;
      }
      &:hover::before{
        color: #fff !important;
      }
    }
  }

.mdi-digital{
    >a{
      &::before{
        font-family: 'Material Icons';
        content: '\F0324' !important;
        margin-top : 8px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 20px;
        color: $pred;
      }
      &:hover::before{
        color: #fff !important;
      }
    }
  }
  .mdi-house{
    >a{
      &::before{
        font-family: 'Material Icons';
        content: '\F02DC' !important;
        margin-top : 8px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 20px;
        color: $pred;
      }
      &:hover::before{
        color: #fff !important;
      }
    }
  }
  .mdi-ball{
    >a{
      &::before{
        font-family: 'Material Icons';
        content: '\F04B8' !important;
        margin-top : 8px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 20px;
        color: $pred;
      }
      &:hover::before{
        color: #fff !important;
      }
    }
  }
  .mdi-workTools{
    >a{
      &::before{
        font-family: 'Material Icons';
        content: '\F0BE0' !important;
        margin-top : 8px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 20px;
        color: $pred;
      }
      &:hover::before{
        color: #fff !important;
      }
    }
  }
  .mdi-fire{
    >a{
      &::before{
        font-family: 'Material Icons';
        content: '\F0EDD' !important;
        margin-top : 8px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 20px;
        color: $pred;
      }
      &:hover::before{
        color: #fff !important;
      }
    }
  }
  .mdi-chair{
    >a{
      &::before{
        font-family: 'Material Icons';
        content: '\F0F48' !important;
        margin-top : 8px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 20px;
        color: $pred;
      }
      &:hover::before{
        color: #fff !important;
      }
    }
  }
  .mdi-shirt{
    >a{
      &::before{
        font-family: 'Material Icons';
        content: '\F053F' !important;
        margin-top : 8px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 20px;
        color: $pred;
      }
      &:hover::before{
        color: #fff !important;
      }
    }
  }
  