.mdi-digital{
    >a{
      &::before{
        font-family: 'Material Icons';
        content: '\F0324' !important;
        margin-top : 8px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 20px;
      }
    }
  }
  .mdi-house{
    >a{
      &::before{
        font-family: 'Material Icons';
        content: '\F02DC' !important;
        margin-top : 8px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 20px;
      }
    }
  }
  .mdi-ball{
    >a{
      &::before{
        font-family: 'Material Icons';
        content: '\F04B8' !important;
        position: absolute;
        margin-top : 8px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 20px;
      }
    }
  }
  .mdi-wrench{
    >a{
      &::before{
        font-family: 'Material Icons';
        content: '\F0BE0' !important;
        position: absolute;
        margin-top : 8px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 20px;
      }
    }
  }
  .mdi-fire{
    >a{
      &::before{
        font-family: 'Material Icons';
        content: '\F0EDD' !important;
        position: absolute;
        margin-top : 8px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 20px;
      }
    }
  }
  .mdi-chair{
    >a{
      &::before{
        font-family: 'Material Icons';
        content: '\F0F48' !important;
        position: absolute;
        margin-top : 8px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 20px;
      }
    }
  }
  .mdi-shirt{
    >a{
      &::before{
        font-family: 'Material Icons';
        content: '\F053F' !important;
        position: absolute;
        margin-top : 8px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 20px;
      }
    }
  }
  
  .mdi-book{
    >a{
      &::before{
        font-family: 'Material Icons';
        content: '\F0B63' !important;
        position: absolute;
        margin-top : 8px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 20px;
      }
    }
  }
  .mdi-carriage{
    >a{
      &::before{
        font-family: 'Material Icons';
        content: '\F068F' !important;
        position: absolute;
        margin-top : 8px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 20px;
      }
    }
  }
  .mdi-cat{
    >a{
      &::before{
        font-family: 'Material Icons';
        content: '\F011B' !important;
        position: absolute;
        margin-top : 8px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 20px;
      }
    }
  }