
 .woocommerce-breadcrumb{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    min-height: 50px;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    margin: 0 15px;
    border-radius: $radius;
    box-shadow: $box-shadow;
    >a{
        color: $pred;
        transition: all ease-in-out .2s;
        &:hover{
            color: #999;
        }
    }
 }
 .single-product-page{
     margin-top: 20px;
     .product-content{
         background-color: #fff;
         padding: 20px;
         border-radius: $radius;
         box-shadow: $box-shadow;
     }
 }