.blog-single-page{
   .blog-page-sidebar-container{
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       .blog-page-slidebar-categories{
           width: 100%;
           height: auto;
           padding: 0;
           margin-bottom: 15px;
           background-color: #fff;
           border-radius: $radius;
           box-shadow: $box-shadow;
           overflow: hidden;
           .title{
               width: 100%;
               height: 50px;
               background-color: $pred;
               color: #fff;
               font-weight: normal;
               font-size: 35px;
               font-family: 'aviny';
               display: flex;
               justify-content: center;
               align-items: center;
               i{
                   font-size: 30px;
                   margin-top: 10px;
                   margin-left: 20px;
               }
           }
           .categories{
               width: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
               padding: 0 !important;
               flex-direction: column;
               li{
                   width: 100%;
                   a{
                       position: relative;
                       width: 100%;
                       display: flex;
                       justify-content: flex-start;
                       align-items: center;
                       height: 40px;
                       padding-right: 25px;
                       font-family: 'shabnam';
                       font-weight: bold;
                       color: #666;
                       transition: all ease-in-out .3s;
                       &::after{
                           font-family: "Material Icons";
                            content: '\F0141';
                            color: #fff;
                            font-size: 20px;
                            width: 40px;
                            height: 40px;
                            position: absolute;
                            top: 0;
                            left: 10%;
                            transition: all ease-in .5s;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                           // display: none;
                        }
                       &:hover{
                           color: #fff;
                           background-color: $pred;
                       }
                       &:hover::after{
                           left: 0;
                           display: flex;
                       }
                   }
               }
           }
       }
       .blog-page-sidebar-recents{
        width: 100%;
        height: auto;
        padding: 0;
        margin-bottom: 15px;
        background-color: #fff;
        border-radius: $radius;
        box-shadow: $box-shadow;
        overflow: hidden;
        .title{
            width: 100%;
            height: 50px;
            background-color: $pred;
            color: #fff;
            font-weight: normal;
            font-size: 35px;
            font-family: 'aviny';
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                font-size: 30px;
                margin-top: 10px;
                margin-left: 20px;
            }
        }
        .recents{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 !important;
            flex-direction: column;
            li{
                width: 100%;
                a{
                    position: relative;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    height: 80px;
                    padding-right: 25px;
                    font-family: 'shabnam';
                    font-weight: bold;
                    color: #666;
                    transition: all ease-in-out .3s;
                    img{
                        margin-left: 15px;
                        width: 50px;
                        height: 50px;
                        border-radius: $radius;
                    }
                    &::after{
                        font-family: "Material Icons";
                         content: '\F0141';
                         color: #fff;
                         font-size: 20px;
                         width: 80px;
                         height: 80px;
                         position: absolute;
                         top: 0;
                         left: 10%;
                         transition: all ease-in .5s;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                        // display: none;
                     }
                    &:hover{
                        color: #fff;
                        background-color: $pred;
                    }
                    &:hover::after{
                        left: 0;
                        display: flex;
                    }
                }
            }
        }
       }
   }
   .blog-page-content{
       width: 100%;
       display: flex;
       flex-direction: column;
       .breadcrumb{
           width: 100%;
           min-height: 50px;
           box-shadow: $box-shadow;
           border-radius: $radius;
           display: flex;
           justify-content: flex-start;
           align-items: center;
           background-color: #fff;
           .breadcrumb-item{
               &::before{
                   padding: 0 5px !important;
               }
               &::after{
                padding: 0 5px !important;
            }
           }
           li{
               a{
                color: #444;
               }
           }
           .active{
               color:$pred;
           }
       }
       .post-container{
           width: 100%;
           padding: 0 20px;
           border-radius: $radius;
           box-shadow: $box-shadow;
           background-color: #fff;
           margin-bottom: 15px;
           .post-header{
               width: 100%;
               min-height: 100px;
               display: flex;
               flex-direction: column;
               justify-content: flex-start;
               align-items: center;
               h1{
                   display: flex;
                   width: 100%;
                   min-height: 80px;
                   border-bottom: 1px solid #f0f0f0;
                   font-family: 'shabnam';
                   font-size: 22px;
                   color: #333;
                   justify-content: flex-start;
                   align-items: center;
                   font-weight: bold;
               }
               .post-time{
                   display: flex;
                   flex-direction:row;
                   justify-content: flex-start;
                   align-items: center;
                   width: 100%;
                   color: #999;
                   font-size: 11px;
                   i{
                       width: 30px;
                       height: 30px;
                       margin-left: 0px;
                       color: #ccc;
                       font-size: 20px;
                   }
               }
           }
           .post-content{
               width: 100%;
               margin-top: 15px;
               padding: 0 10px;
               margin-bottom: 15px;
               border-bottom: 1px solid #f0f0f0;
               img{
                   max-width: 100% !important;
                   margin: 15px auto;
                   display: flex;
                   border-radius: $radius;
               }
               p{
                   color: #333;
                   font-family: 'shabnam';
                   line-height: 28px;
               }
           }
           .post-footer{
               width: 100%;
               display: flex;
               flex-direction: column;
               .footer-row{
                   width: 100%;
                   display: flex;
                   justify-content: flex-start;
                   align-items: center;
                   min-height: 50px;
                   color: #777;
                   a{
                    color: #777;
                    transition: all ease-in-out .2s;
                    &:hover{
                        color: $pred;
                    }
                   }
                   i{
                       color: $pred;
                       width: 30px;
                       height: 30px;
                       font-size: 20px;
                   }
               }
           }
       }
   }
}