.woocommerce a.remove{
     width: 35px !important;
     height: 35px !important;
     display: flex !important;
     justify-content: center !important;
     align-items: center !important;
     transition: all ease-in-out .3s;
     i{
         font-size: 23px;
     }
 }
 table{
.product-name{
    >a{
        color: #333;
        transition: all ease-in-out .3s;
        &:hover{
            color: $pred;
        }
    }
}
}
ul.shop_table{
    li{
        display: flex;
        flex-direction: row-reverse;
        .additional-info-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            .product-remove{
                a{
                    i{
                        color: $pred;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
.item-details{
    .product-name{
        a{
            color: #333 !important;
            transition: all ease-in-out .3s;
            &:hover{
                color: $pred;
            }
        }
    }
    }