@import 'config.scss';
@import 'variables.scss';
@import 'header.scss'; 
@import 'mainNav.scss';   
@import 'slider.scss';
@import 'loop-sliders.scss';
@import 'ad-rows.scss';
@import 'footer.scss';
@media screen and(max-width:991px){
    .responsive-overlay{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        z-index: 1001;
        left: 100%;
        top: 0;
        transition: all ease-in-out .3s;
    }
    .responsive-overlay-show{
        left: 0;
    }

}
.container-fluid{
    max-width: 1600px !important;
}
.c-red{
    color: $pred !important;
}
main{
    background-color: #f8f8f8;
    padding-top: 150px;
} 

#footer-backTo-top{
    width: 100%;
    height: 80px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    a{
        display: flex;
    justify-content: center;
    align-items: center;
        i{
            color: $pred;
            font-size: 35px;
        }
        span{
            color: #777;
            font-size: 15px;
            font-family: 'shabnam';
            font-weight: bold;
            transition: all ease-in-out .3s;
            &:hover{
                color: $pred;
            }
        }
    }
}
.website-services{
    border-top: 1px solid #ccc;

    background-color: #f3f3f3;
    .service-wrapper{
        width: 100%;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        svg,img{
            width: 100px;
            height: 100px;
        }
        h4{
            font-family: "shabnam";
            font-size: 13px;
            font-weight: bold;
            color: #666;
            display: block;
            width: 120px;
            text-align: center !important;
            margin-top: 10px;
        }
    }
}